@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-custom-orbitron: Orbitron;
  --font-custom-zendots: ZenDots;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: Orbitron;
  src: url("./assets/fonts/Orbitron-Regular.ttf");
}

@font-face {
  font-family: ZenDots;
  src: url("./assets/fonts/ZenDots-Regular.ttf");
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
